In [1]:
import pandas as pd

In [2]:
import os
os.listdir(".")

['.DS_Store',
 'Untitled.ipynb',
 'clean_gasprice.csv',
 'raw_data',
 'README.md',
 'energy_cleaning.py',
 '.ipynb_checkpoints',
 '.git',
 'climate_eda.ipynb']

In [6]:
pd.read_csv("clean_data/clean_Wood_gen.csv").set_index("Unnamed: 0")

,Alabama,Arkansas,California,Florida,Georgia,Idaho,Kentucky,Louisiana,Maine,Maryland,...,Ohio,Oklahoma,Oregon,Pennsylvania,South Carolina,Tennessee,Texas,Virginia,Washington,Wisconsin
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Q1 2001,361.00,126.67,256.00,146.33,255.33,43.67,1.00,212.00,303.33,1.00,...,36.33,18.67,51.00,45.67,78.33,59.67,76.67,96.67,94.33,62.33
Q2 2001,334.00,96.67,264.67,161.33,249.33,45.67,1.00,206.33,283.00,1.00,...,32.00,15.67,58.00,47.67,74.33,66.67,69.67,88.67,87.33,52.00
Q3 2001,351.33,129.67,302.00,143.00,240.67,51.67,1.00,236.33,317.67,1.00,...,32.67,22.00,64.00,52.67,69.00,67.00,73.67,96.67,93.33,58.00
Q4 2001,344.33,148.00,285.00,159.33,245.67,36.67,1.00,225.33,272.67,1.00,...,33.00,21.00,60.33,52.67,66.67,67.33,79.00,100.33,80.00,62.33
Q1 2002,347.67,145.00,330.00,126.67,265.00,34.67,32.00,219.33,314.00,25.00,...,10.00,18.33,51.00,56.00,96.33,60.67,75.00,97.00,97.67,57.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q4 2021,257.33,71.67,216.67,164.67,464.00,33.67,28.00,176.00,151.67,0.67,...,19.67,22.33,55.00,31.67,150.00,54.67,69.00,196.00,114.67,59.33
Q1 2022,256.67,73.33,239.67,155.00,443.67,33.33,24.33,166.33,153.00,1.00,...,19.33,23.00,62.67,33.33,174.67,48.67,87.33,217.00,102.67,68.67
Q2 2022,266.00,64.00,236.33,186.67,446.67,33.00,25.00,176.33,132.67,0.33,...,19.00,20.00,57.00,31.33,185.00,53.67,94.67,209.67,107.00,65.00
Q3 2022,268.67,73.00,263.33,195.67,474.67,31.67,25.33,171.00,158.67,1.00,...,16.67,15.67,67.33,33.67,182.00,54.00,113.67,237.67,112.00,75.67
Q4 2022,243.33,64.67,226.67,176.00,439.33,26.33,21.33,166.67,150.67,0.67,...,19.00,20.33,57.00,31.33,165.33,51.33,84.67,194.00,108.67,63.00