In [15]:
## https://hydrofunctions.readthedocs.io/en/master/introduction.html
import hydrofunctions as hf
import pandas as pd
# start_date = "2000-01-01"
start_date = "2000-01-01"
end_date = "2022-12-31"

In [16]:
## https://help.waterdata.usgs.gov/code/parameter_cd_query?fmt=rdb&inline=true&group_cd=%
## 00400	Physical	pH, water, unfiltered, field, standard units	Agree					Total		 	pH	std units
## 63680	Physical	Turbidity, water, unfiltered, monochrome near infra-red LED light, 780-900 nm, detection angle 90 +-2.5 degrees, formazin nephelometric units (FNU)	USGS use and no use by EPA					Total		 	Turbidity	FNU
## 00010	Physical	Temperature, water, degrees Celsius	Agree							 	Temperature, water	deg C

In [17]:
parameters = ["00400","63680","00010"]

In [18]:
california = hf.NWIS(stateCd = 'CA', start_date=start_date, end_date=end_date, parameterCd=parameters)

Requested data from https://waterservices.usgs.gov/nwis/dv/?format=json%2C1.1&stateCd=CA&parameterCd=00400%2C63680%2C00010&startDT=2000-01-01&endDT=2022-12-31

ERROR:hydrofunctions.exceptions:It is not possible to determine the frequency for one of the datasets in this request. This dataset will be set to a frequency of 0 minutes
/usr/local/lib/python3.9/dist-packages/hydrofunctions/hydrofunctions.py:103: HydroUserWarning: It is not possible to determine the frequency for one of the datasets in this request. This dataset will be set to a frequency of 0 minutes
  warnings.warn(
ERROR:hydrofunctions.exceptions:It is not possible to determine the frequency for one of the datasets in this request. This dataset will be set to a frequency of 0 minutes
/usr/local/lib/python3.9/dist-packages/hydrofunctions/hydrofunctions.py:103: HydroUserWarning: It is not possible to determine the frequency for one of the datasets in this request. This dataset will be set to a frequency of 0 minutes
  warnings.warn(
ERROR:hydrofunctions.exceptions:One or more datasets in this request is going to be 'upsampled' to 1 days 00:00:00 because the data were collected at a lower frequency of 355 days 00:00:00
/usr/local/lib/python3.9/dist-packages/hydrofunctions/hydrofunctions.py:597: HydroUserWarning: One or more datasets in this request is going to be 'upsampled' to 1 days 00:00:00 because the data were collected at a lower frequency of 355 days 00:00:00
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/hydrofunctions/hydrofunctions.py:629: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  if not DF.index.is_monotonic:

In [19]:
california_df = california.df()
california_df.head()

,USGS:09429490:00010:00003,USGS:09429490:00010:00003_qualifiers,USGS:10260500:00010:00001,USGS:10260500:00010:00001_qualifiers,USGS:10260500:00010:00002,USGS:10260500:00010:00002_qualifiers,USGS:10260500:00010:00003,USGS:10260500:00010:00003_qualifiers,USGS:10260500:00010:00008,USGS:10260500:00010:00008_qualifiers,...,USGS:390807120090802:00010:00002,USGS:390807120090802:00010:00002_qualifiers,USGS:390807120090802:00010:00003,USGS:390807120090802:00010:00003_qualifiers,USGS:390807120090803:00010:00001,USGS:390807120090803:00010:00001_qualifiers,USGS:390807120090803:00010:00002,USGS:390807120090803:00010:00002_qualifiers,USGS:390807120090803:00010:00003,USGS:390807120090803:00010:00003_qualifiers
datetimeUTC,,,,,,,,,,,,,,,,,,,,,
2000-01-01 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
2000-01-02 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
2000-01-03 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
2000-01-04 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
2000-01-05 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled

In [20]:
california_df = california_df.reset_index()

In [21]:
california_df.head()

,datetimeUTC,USGS:09429490:00010:00003,USGS:09429490:00010:00003_qualifiers,USGS:10260500:00010:00001,USGS:10260500:00010:00001_qualifiers,USGS:10260500:00010:00002,USGS:10260500:00010:00002_qualifiers,USGS:10260500:00010:00003,USGS:10260500:00010:00003_qualifiers,USGS:10260500:00010:00008,...,USGS:390807120090802:00010:00002,USGS:390807120090802:00010:00002_qualifiers,USGS:390807120090802:00010:00003,USGS:390807120090802:00010:00003_qualifiers,USGS:390807120090803:00010:00001,USGS:390807120090803:00010:00001_qualifiers,USGS:390807120090803:00010:00002,USGS:390807120090803:00010:00002_qualifiers,USGS:390807120090803:00010:00003,USGS:390807120090803:00010:00003_qualifiers
0,2000-01-01 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
1,2000-01-02 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
2,2000-01-03 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
3,2000-01-04 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled
4,2000-01-05 00:00:00+00:00,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,...,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled,NaN,hf.upsampled

In [22]:
california_df.columns

Index(['datetimeUTC', 'USGS:09429490:00010:00003',
       'USGS:09429490:00010:00003_qualifiers', 'USGS:10260500:00010:00001',
       'USGS:10260500:00010:00001_qualifiers', 'USGS:10260500:00010:00002',
       'USGS:10260500:00010:00002_qualifiers', 'USGS:10260500:00010:00003',
       'USGS:10260500:00010:00003_qualifiers', 'USGS:10260500:00010:00008',
       ...
       'USGS:390807120090802:00010:00002',
       'USGS:390807120090802:00010:00002_qualifiers',
       'USGS:390807120090802:00010:00003',
       'USGS:390807120090802:00010:00003_qualifiers',
       'USGS:390807120090803:00010:00001',
       'USGS:390807120090803:00010:00001_qualifiers',
       'USGS:390807120090803:00010:00002',
       'USGS:390807120090803:00010:00002_qualifiers',
       'USGS:390807120090803:00010:00003',
       'USGS:390807120090803:00010:00003_qualifiers'],
      dtype='object', length=1855)

In [23]:
california_df.columns

Index(['datetimeUTC', 'USGS:09429490:00010:00003',
       'USGS:09429490:00010:00003_qualifiers', 'USGS:10260500:00010:00001',
       'USGS:10260500:00010:00001_qualifiers', 'USGS:10260500:00010:00002',
       'USGS:10260500:00010:00002_qualifiers', 'USGS:10260500:00010:00003',
       'USGS:10260500:00010:00003_qualifiers', 'USGS:10260500:00010:00008',
       ...
       'USGS:390807120090802:00010:00002',
       'USGS:390807120090802:00010:00002_qualifiers',
       'USGS:390807120090802:00010:00003',
       'USGS:390807120090802:00010:00003_qualifiers',
       'USGS:390807120090803:00010:00001',
       'USGS:390807120090803:00010:00001_qualifiers',
       'USGS:390807120090803:00010:00002',
       'USGS:390807120090803:00010:00002_qualifiers',
       'USGS:390807120090803:00010:00003',
       'USGS:390807120090803:00010:00003_qualifiers'],
      dtype='object', length=1855)

In [24]:
# print(california_df.columns.str.contains('00400'))

In [25]:
# get turbidity values
turbidity_columns = [col for col in california_df.columns if ':63680' in col and not col.endswith('_qualifiers')]
turbidity = california_df[turbidity_columns].mean(axis=1)

# get temperature values
temperature_columns = [col for col in california_df.columns if ':00010' in col and not col.endswith('_qualifiers')]
temperature = california_df[temperature_columns].mean(axis=1)

# get pH values
ph_columns = [col for col in california_df.columns if ':00400' in col and not col.endswith('_qualifiers')]
ph = california_df[ph_columns].mean(axis=1)

# water quality for CA
water_quality_CA = pd.DataFrame({'datetimeUTC': california_df['datetimeUTC'], 
                         'turbidity value': turbidity,
                         'temperature value': temperature,
                         'pH value': ph})

In [26]:
water_quality_CA

                   datetimeUTC  turbidity value  temperature value  pH value
0    2000-01-01 00:00:00+00:00              NaN           8.512000  8.275000
1    2000-01-02 00:00:00+00:00              NaN           8.264286  8.237500
2    2000-01-03 00:00:00+00:00              NaN           8.182677  8.262500
3    2000-01-04 00:00:00+00:00              NaN           8.248837  8.237500
4    2000-01-05 00:00:00+00:00              NaN           8.284677  8.262500
...                        ...              ...                ...       ...
8396 2022-12-27 00:00:00+00:00       108.163415           8.970281  7.752778
8397 2022-12-28 00:00:00+00:00        49.228889           8.601176  7.725000
8398 2022-12-29 00:00:00+00:00        35.631250           8.685882  7.750000
8399 2022-12-30 00:00:00+00:00        88.048077           9.255426  7.727778
8400 2022-12-31 00:00:00+00:00       152.371739           9.682731  7.694444

[8401 rows x 4 columns]

In [27]:
water_quality_CA['datetimeUTC'] = pd.to_datetime(water_quality_CA['datetimeUTC'])
water_quality_CA = water_quality_CA.set_index('datetimeUTC')
df_monthly = water_quality_CA.resample('M').mean()

In [28]:
df_monthly

                           turbidity value  temperature value  pH value
datetimeUTC
2000-01-31 00:00:00+00:00              NaN           9.178916  8.317204
2000-02-29 00:00:00+00:00              NaN           9.914265  8.116379
2000-03-31 00:00:00+00:00              NaN          11.156489  8.110941
2000-04-30 00:00:00+00:00              NaN          13.570469  7.831667
2000-05-31 00:00:00+00:00              NaN          15.317995  7.815430
...                                    ...                ...       ...
2022-08-31 00:00:00+00:00         3.378961          19.537764  7.898180
2022-09-30 00:00:00+00:00         3.206449          18.180644  7.854580
2022-10-31 00:00:00+00:00         2.251239          15.170036  7.837428
2022-11-30 00:00:00+00:00         2.489977           9.512101  7.927999
2022-12-31 00:00:00+00:00        21.654827           8.116427  7.817978

[276 rows x 3 columns]

In [32]:
df_monthly['pH value'].isnull().sum()

0

In [33]:
df_monthly['turbidity value'].isnull().sum()

23

In [35]:
df_monthly['temperature value'].isnull().sum()

0