In [17]:
import numpy as np
import pandas as pd
import os

In [18]:
os.listdir("..")

['.Rhistory',
 '.DS_Store',
 'window_model.R',
 'energy_eda.ipynb',
 'env_health_index',
 'raw_data',
 'regressive_model.R',
 'README.md',
 'eda.R',
 '.RData',
 '.ipynb_checkpoints',
 'clean_data',
 '.git',
 'data_cleaning',
 'plots']

In [3]:
producers = {"Texas", "North Dakota", "Wyoming", "Pennsylvania", "Oklahoma", "West Virginia"}
consumers = {"Texas", "California", "New York", "Florida", "Ohio", "Pennsylvania"}
relevstates = list(producers.union(consumers))

In [4]:
pop2000s = pd.read_csv("../raw_data/pop2000s.csv", index_col=0)
pop2010s = pd.read_csv("../raw_data/pop2010s.csv", index_col=0)
pop2020s = pd.read_csv("../raw_data/pop2020s.csv", index_col=0)

pop2000s.set_index("NAME", inplace=True)
pop2010s.set_index("NAME", inplace=True)
pop2020s.set_index("NAME", inplace=True)

pop2K = pop2000s.loc[relevstates, "POPESTIMATE2000":"POPESTIMATE2009"]
pop210K = pop2010s.loc[relevstates, "POPESTIMATE2010":"POPESTIMATE2019"]
pop220K = pop2020s.loc[relevstates, "POPESTIMATE2020":"POPESTIMATE2021"]

allpops = pd.concat([pop2K, pop210K, pop220K], axis=1)
popyear = np.arange(2000, 2022, 1)
pop_w_years = allpops.rename(columns=dict(zip(allpops.columns, popyear)))  
pop_w_years

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
NAME,,,,,,,,,,,,,,,,,,,,,
Florida,16047118,16353869,16680309,16981183,17375259,17783868,18088505,18277888,18423878,18537969,...,19302016,19551678,19853880,20219111,20627237,20977089,21254926,21492056,21569932,21781128
Texas,20945963,21332847,21710788,22057801,22418319,22801920,23369024,23837701,24304290,24782302,...,26084120,26479646,26963092,27468531,27914064,28291024,28624564,28986794,29217653,29527941
Wyoming,493958,492982,497069,499189,502988,506242,512841,523414,532981,544270,...,576656,582620,583159,586389,585243,579994,579054,580116,577267,578803
Oklahoma,3453943,3464729,3484754,3498687,3514449,3532769,3574334,3612186,3644025,3687050,...,3819320,3853891,3879187,3910518,3928143,3933602,3943488,3960676,3962031,3986639
Pennsylvania,12285504,12299533,12326302,12357524,12388368,12418161,12471142,12522531,12566368,12604767,...,12769123,12779538,12792392,12789838,12788468,12794679,12809107,12798883,12989625,12964056
Ohio,11363844,11396874,11420981,11445180,11464593,11475262,11492495,11520815,11528072,11542645,...,11550971,11579692,11606573,11622315,11640060,11665706,11680892,11696507,11790587,11780017
California,33994571,34485623,34876194,35251107,35558419,35795255,35979208,36226122,36580371,36961664,...,37944551,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39499738,39237836
West Virginia,1806962,1798582,1799411,1802238,1803302,1803920,1807237,1811198,1814873,1819777,...,1857446,1854768,1850569,1843332,1832435,1818683,1805953,1795263,1789798,1782959
New York,18998044,19088978,19161873,19231101,19297933,19330891,19356564,19422777,19467789,19541453,...,19574362,19626488,19653431,19657321,19636391,19593849,19544098,19463131,20154933,19835913
North Dakota,641200,636267,633617,632809,636303,635365,636771,638202,641421,646844,...,702227,723149,738736,755537,756114,756755,760062,763724,778962,774948

In [5]:
popT = pop_w_years.T
popT.index = pd.to_datetime(popT.index, format="%Y")
popT_by_month = pd.DataFrame(np.repeat(popT.values, 12, axis=0), index=pd.date_range("2000-01-01", "2022-01-01", freq="MS", inclusive="left"), \
                            columns=popT.columns)
popT_by_month[relevstates]

NAME,Florida,Texas,Wyoming,Oklahoma,Pennsylvania,Ohio,California,West Virginia,New York,North Dakota
2000-01-01,16047118,20945963,493958,3453943,12285504,11363844,33994571,1806962,18998044,641200
2000-02-01,16047118,20945963,493958,3453943,12285504,11363844,33994571,1806962,18998044,641200
2000-03-01,16047118,20945963,493958,3453943,12285504,11363844,33994571,1806962,18998044,641200
2000-04-01,16047118,20945963,493958,3453943,12285504,11363844,33994571,1806962,18998044,641200
2000-05-01,16047118,20945963,493958,3453943,12285504,11363844,33994571,1806962,18998044,641200
...,...,...,...,...,...,...,...,...,...,...
2021-08-01,21781128,29527941,578803,3986639,12964056,11780017,39237836,1782959,19835913,774948
2021-09-01,21781128,29527941,578803,3986639,12964056,11780017,39237836,1782959,19835913,774948
2021-10-01,21781128,29527941,578803,3986639,12964056,11780017,39237836,1782959,19835913,774948
2021-11-01,21781128,29527941,578803,3986639,12964056,11780017,39237836,1782959,19835913,774948
2021-12-01,21781128,29527941,578803,3986639,12964056,11780017,39237836,1782959,19835913,774948

<h3>Coal Consumption by State; Electric Power Used in Short Tons; Quarterly 2001-2022</h3>

In [6]:
usstates = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

In [7]:
coal = pd.read_csv("../raw_data/coal_consumption.csv")
# coal.head(25)

In [8]:
coaldf = coal.loc[6:, ]
coaldf.columns = coal.loc[3,:].values
regstates = coaldf.description.str.extract("Electric power : (.*)")
usstates = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
coaldf = coaldf.assign(RegState = regstates).set_index("RegState").iloc[:, 7:].loc[usstates,:]
coaldf[coaldf=="--"] = np.nan
coaldf[coaldf=="NM"] = np.nan
coal_clean = coaldf.dropna().astype(float).T

In [9]:
start_date = pd.to_datetime('2001-01-01')
end_date = pd.to_datetime('2022-12-31')
quarters = pd.date_range(start=start_date, end=end_date, freq='Q')[:-1]
coal_clean.index = quarters
coal_clean

RegState,Alabama,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,Illinois,...,South Carolina,South Dakota,Tennessee,Texas,Utah,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2001-03-31,8337158.0,4667401.0,3165885.0,186440.0,4914880.0,447240.0,584696.0,7088945.0,7586921.0,11345998.0,...,3776922.0,590367.0,6110162.0,22164839.0,3457316.0,4001465.0,1591350.0,9112138.0,5844331.0,6886300.0
2001-06-30,7941126.0,5285073.0,3598755.0,248350.0,4922308.0,401770.0,384308.0,7139229.0,7851551.0,10714351.0,...,3544853.0,540435.0,6278998.0,22952510.0,3533848.0,3577603.0,1045910.0,8175723.0,5757642.0,6046131.0
2001-09-30,9724666.0,5229673.0,4365120.0,256340.0,5115914.0,419530.0,362640.0,7908980.0,8970913.0,13140705.0,...,4125699.0,559262.0,6663992.0,25962808.0,4047347.0,4118398.0,1610860.0,8893818.0,6584786.0,6436903.0
2001-12-31,7797616.0,4975428.0,3980228.0,205980.0,4811871.0,354790.0,148670.0,6559143.0,6481511.0,10531311.0,...,2934988.0,521541.0,5434079.0,21357650.0,3867209.0,3730152.0,1753290.0,6512558.0,5894172.0,6815085.0
2002-03-31,6783231.0,4501541.0,3136994.0,249359.0,4672570.0,416945.0,241484.0,6451904.0,7626999.0,11328970.0,...,3310960.0,588533.0,6143970.0,21917084.0,3760759.0,3667594.0,1763681.0,9486650.0,5196342.0,6630195.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,4456545.0,2650372.0,4616020.0,0.0,3774366.0,0.0,69412.0,2516828.0,4262843.0,7949053.0,...,1910953.0,397156.0,2973366.0,19316746.0,3800661.0,668135.0,809073.0,7164775.0,4828698.0,5871264.0
2021-12-31,3506767.0,2356245.0,1979034.0,0.0,3143811.0,0.0,8577.0,1269023.0,856325.0,5362334.0,...,1336902.0,98230.0,1451794.0,13800307.0,3028817.0,189183.0,576443.0,4458182.0,2659548.0,4518659.0
2022-03-31,3678169.0,1776545.0,3543345.0,0.0,2932684.0,0.0,50655.0,1567385.0,2640332.0,7115716.0,...,1492488.0,356768.0,2096275.0,14138528.0,2278637.0,558444.0,707601.0,5569865.0,3737854.0,4727510.0
2022-06-30,3359322.0,1570690.0,2136836.0,0.0,2568333.0,0.0,16296.0,1975682.0,2216492.0,5752825.0,...,1609471.0,341928.0,2384951.0,14319553.0,2335105.0,304436.0,196957.0,4966817.0,2694958.0,4026564.0
2022-09-30,3958188.0,2739094.0,3841097.0,0.0,3713348.0,0.0,1724.0,1784228.0,2118447.0,6389658.0,...,1591294.0,498470.0,2397534.0,17148078.0,3377341.0,509445.0,771067.0,6151286.0,3619609.0,6083652.0

<h3>Net Energy Generation by Select States in Thousand MWh; Quarterly 2001-2022</h3>

In [10]:
net_gen = pd.read_csv("../raw_data/net_energy_gen.csv")
net_gen.head(10)

,Net generation for all sectors,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260,Unnamed: 261,Unnamed: 262,Unnamed: 263,Unnamed: 264,Unnamed: 265,Unnamed: 266
0,https://www.eia.gov/electricity/data/browser/#...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed Mar 22 2023 18:19:59 GMT-0400 (Eastern Day...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Source: U.S. Energy Information Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,description,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,...,Mar 2022,Apr 2022,May 2022,Jun 2022,Jul 2022,Aug 2022,Sep 2022,Oct 2022,Nov 2022,Dec 2022
4,Net generation for all sectors,thousand megawatthours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,United States,NaN,ELEC.GEN..M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,United States : all fuels (utility-scale),thousand megawatthours,ELEC.GEN.ALL-US-99.M,332493,282940,300707,278079,300492,327694,357614,...,324772,303324,342215,380649,424013,412710,350722,314111,322959,363625
7,United States : coal,thousand megawatthours,ELEC.GEN.COW-US-99.M,177287,149735,155269,140671,151593,162616,179060,...,60743,55023,62225,73287,86263,85000,64817,54071,56170,73164
8,United States : petroleum liquids,thousand megawatthours,ELEC.GEN.PEL-US-99.M,17300,9626,10981,10237,9641,10997,10050,...,966,745,861,912,1004,1022,996,990,937,3815
9,United States : petroleum coke,thousand megawatthours,ELEC.GEN.PC-US-99.M,812,716,752,627,749,825,992,...,463,496,667,665,482,564,623,574,628,785

In [11]:
gen_df = net_gen.iloc[4:, :].set_index("Net generation for all sectors")
gen_df.columns = net_gen.iloc[3, 1:].values
gen_df[gen_df=="--"] = np.nan
gen_df[gen_df=="NM"] = np.nan
gen_df = gen_df.iloc[:,2:].dropna().astype(float).reset_index()

In [12]:
stateindall = gen_df.iloc[:,0].str.extract("(.*) : .*")
stateind = stateindall[np.isin(stateindall, usstates)].rename(columns={0:"State"})
stategen_df = gen_df.join(stateind, how="right")

In [13]:
indus = stategen_df.iloc[:,0].str.extract(".* : (.*)")
keep = ["all fuels (utility-scale)", "coal", "wood and wood-derived fuels", "natural gas", "biomass", \
        "conventional hydroelectric", "wind", "all utility-scale solar", "nuclear"]
kept = indus[np.isin(indus, keep)].rename(columns={0:"Type"})
kept = kept.replace("all fuels (utility-scale)", "Total")
kept = kept.replace("coal", "Coal")
kept = kept.replace("wood and wood-derived fuels", "Wood")
kept = kept.replace("natural gas", "Natural Gas")
kept = kept.replace("biomass", "Biomass")
kept = kept.replace("conventional hydroelectric", "Hydroelectric")
kept = kept.replace("wind", "Wind")
kept = kept.replace("all utility-scale solar", "Solar")
kept = kept.replace("nuclear", "Nuclear")
gen_clean = stategen_df.join(kept, how="right").reset_index().iloc[:,2:]\
            .sort_values(["State", "Type"]).set_index("State")

In [14]:
keptlabels = pd.unique(kept.Type)
gen_yrs = pd.Series(np.repeat(np.arange(2001,2023,1), 4)).astype(str)
gen_qs = pd.Series(np.tile(np.arange(1,5), 2023-2001)).astype(str)
gen_index = "Q" + gen_qs + " " + gen_yrs
gen_dfdict = {}
for label in keptlabels:
    this_df = gen_clean[gen_clean.Type==label].iloc[:, :-1].T
    this_df.index = pd.to_datetime(this_df.index, format="%b %Y")
    # this_df = round(this_df.resample("Q").mean(), 2)
#     this_df.index = gen_index
    gen_dfdict[label] = this_df

gen_dfdict.keys()

dict_keys(['Total', 'Coal', 'Natural Gas', 'Nuclear', 'Hydroelectric', 'Biomass', 'Wood', 'Wind', 'Solar'])

In [16]:
#get the data by any key specified aboved
gen_dfdict["Biomass"]

State,Alabama,Arkansas,California,Colorado,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,...,Oregon,Pennsylvania,Rhode Island,South Carolina,Tennessee,Texas,Utah,Virginia,Washington,Wisconsin
2001-01-01,401.0,137.0,492.0,5.0,335.0,261.0,21.0,43.0,59.0,9.0,...,48.0,150.0,10.0,115.0,75.0,92.0,1.0,161.0,114.0,93.0
2001-02-01,332.0,126.0,393.0,5.0,298.0,256.0,21.0,39.0,48.0,9.0,...,37.0,137.0,9.0,64.0,59.0,82.0,0.0,134.0,97.0,84.0
2001-03-01,355.0,119.0,404.0,6.0,310.0,256.0,12.0,49.0,54.0,9.0,...,80.0,152.0,9.0,64.0,54.0,81.0,0.0,132.0,109.0,87.0
2001-04-01,347.0,136.0,400.0,5.0,321.0,258.0,25.0,46.0,50.0,8.0,...,69.0,153.0,9.0,74.0,65.0,77.0,0.0,123.0,110.0,77.0
2001-05-01,306.0,69.0,413.0,6.0,324.0,248.0,28.0,43.0,56.0,7.0,...,56.0,160.0,9.0,80.0,72.0,87.0,1.0,142.0,88.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01,284.0,77.0,484.0,14.0,366.0,505.0,20.0,37.0,33.0,32.0,...,100.0,145.0,20.0,200.0,61.0,144.0,6.0,335.0,125.0,113.0
2022-09-01,240.0,75.0,444.0,13.0,323.0,471.0,21.0,39.0,32.0,31.0,...,82.0,124.0,14.0,171.0,58.0,128.0,7.0,273.0,113.0,101.0
2022-10-01,187.0,71.0,429.0,15.0,318.0,431.0,25.0,37.0,34.0,32.0,...,77.0,139.0,21.0,153.0,56.0,121.0,6.0,254.0,110.0,95.0
2022-11-01,283.0,75.0,433.0,13.0,336.0,499.0,26.0,24.0,31.0,31.0,...,82.0,140.0,11.0,179.0,58.0,85.0,6.0,279.0,116.0,91.0
2022-12-01,272.0,61.0,443.0,11.0,362.0,466.0,20.0,40.0,32.0,31.0,...,87.0,141.0,21.0,187.0,59.0,119.0,7.0,291.0,122.0,106.0